.trig {
  position: relative;
  display: inline-block;
  margin: 0 0.2em;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  top: 2px;
  left: 2px;
}

.trig .symbol-ico {
  font-size: 1.2em;
  font-weight: normal;
}

.trig .symbol-ico2 {
  font-size: 0.7em;
  font-weight: normal;
}



.trig .slate-equationbox:nth-child(1) {
  padding-bottom: 0em;
}

.trig-container {
  display: grid;
  grid-template-columns:auto auto auto auto;
  grid-column-gap: 0.8em;
  grid-row-gap: 0.8em;
}