/*Integrals*/
.integral {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: bolder;
}

.integral > span {
  display: block;
  font-size: 100%;
  font-weight: bolder;
}

.integral .top-limit {
  margin-bottom: -0.5ex;
  font-weight: bolder;
}

.integral .bottom-limit {
  margin-top: -.5ex;
  font-weight: bolder;
  
}

.integral .symbol {
  font-size: 1.6em;
  font-weight: bolder;
}




.slate-int > .slate-box:nth-child(1) {
  grid-area: top;
  font-size: x-small;
  font-family: Cambria, Georgia, serif; font-style: normal; font-variant: normal; 
  /*border: red 1px solid;*/
}

.slate-int > .slate-box:nth-child(3) {
  font-size: x-small;
  font-family: Cambria, Georgia, serif; font-style: normal; font-variant: normal; 
  /*border: red 1px solid;*/
  
}

table > .slate-int {
  display: inline;
}
/*End of Integrals*/
