/*Integrals*/
.integral {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
  }
  
  .integral > span {
    display: block;
    font-size: 100%;
    font-weight: bolder;
  }
  
  .integral .top-limit {
    margin-bottom: -0.5ex;
    font-weight: bolder;
  }
  
  .integral .bottom-limit {
    margin-top: -.5ex;
    font-weight: bolder;
    
  }
  
  .integral .symbol {
    font-size: 1.6em;
    font-weight: bolder;
  }
  
  .integral-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-column-gap: 0.8em;
    grid-row-gap: 0.8em;
  }
