/*summations*/
.summation {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.summation > span {
  display: block;
  font-size: 80%;
}

.summation .top-limit {
  margin-bottom: -0.1ex;
}

.summation .bottom-limit {
  margin-top: -0.5ex;
  font-weight: bolder;
}

.summation .sum-symbol {
  font-size: 1.5em;
  font-weight: bolder;
}

.summation .sum-symbol-ico {
  font-size: 1.5em;
  font-weight: bolder;
}

.summation .top-limit-ico {
  margin-bottom: -0.3ex;
  font-weight: bolder;

}

.summation .bottom-limit-ico {
  margin-top: -0.3ex;
  font-weight: bolder;

}

.slate-sum > .slate-box:nth-child(1) {
  font-size: x-small;
  font-family: Cambria, Georgia, serif; font-style: normal; font-variant: normal; 
}
.slate-sum > .slate-box:nth-child(3) {
  font-size: x-small;
  font-family: Cambria, Georgia, serif; font-style: normal; font-variant: normal; 
}

/*End of summations*/
