.tableicon {
    height: 150%;
    width: 40px;
    display:inline-flex;
    margin-right: 6px;    

}

.slate-table {
    border-style:hidden;
  }

  .slate-td {
    border-style: solid;
  }
  
  .slate-tr {
    border-style: solid;
  }