/*Integrals*/
.integral {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    font-weight: bolder;
  }
  
  .integral > span {
    display: block;
    font-size: 100%;
    font-weight: bolder;
  }
  
  .integral .top-limit {
    margin-bottom: -0.5ex;
    font-weight: bolder;
  }
  
  .integral .bottom-limit {
    margin-top: -.5ex;
    font-weight: bolder;
    
  }
  
  .integral .symbol {
    font-size: 1.6em;
    font-weight: bolder;
  }
  
