html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;
}

body {
  margin: 0;
}

#root {
  padding: 30px;
}

.MuiSvgIcon-root {
  font-size: 18px !important;
}

.tippy-box[data-theme~='tomato'] {
  background-color: tomato;
  color: yellow;
}
table tr:last-child th {
  border-bottom: 0;
}

.slate-equationtext {
  font-family: Cambria, Georgia, serif; font-size: 24px; font-style: normal; font-variant: normal; 
}

.matrix-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 0.5em;
}

.slate-matrix > tr > td  {
  text-align: center;
  font-family: Cambria, Georgia, serif; font-style: normal; font-variant: normal; 
  z-index: -1;
}

.slate-matrix > tr > td > div > p > span  {
  border: 1px solid black;
}

